# Weekly Learning Program (08/June/24 - 14/June/24)

### Where to Solve the SQL Questions?

* I will provide the dataset along with the questions.
* You can use the following website to practice the SQL questions: [Programiz SQL Compiler](https://www.programiz.com/sql/online-compiler/)
* Please paste your solutions into the Jupyter notebook.

## SQL question

### 1. (interview asked question)

A group of friends wants to book consecutive available seats at a cinema. Can you write a query to find all the consecutive available seats ordered by seat_id using the following cinema table?

```sql
CREATE TABLE cinema (
    seat_id INT PRIMARY KEY,
    free BIT
);

INSERT INTO cinema (seat_id, free) VALUES
(1, 0),
(2, 0),
(3, 1),
(4, 1),
(5, 0),
(6, 1),
(7, 1),
(8, 1),
(9, 0),
(10, 1),
(11, 0),
(12, 1),
(13, 1),
(14, 1),
(15, 1),
(16, 1),
(17, 0),
(18, 0),
(19, 1),
(20, 0),
(21, 1),
(22, 0),
(23, 1),
(24, 1),
(25, 1),
(26, 1),
(27, 1),
(28, 0),
(29, 1),
(30, 1),
(31, 1),
(32, 1),
(33, 1),
(34, 0),
(35, 1),
(36, 1),
(37, 0),
(38, 0),
(39, 1),
(40, 1);
```

The query should return the following result for the sample case provided:

| seat_id |
|---------|
| 3       |
| 4       |
| 6       |
| 7       |
| 8       |
| 12      |
| 13      |
| 14      |
| 15      |
| 16      |
| 23      |
| 24      |
| 25      |
| 26      |
| 27      |
| 29      |
| 30      |
| 31      |
| 32      |
| 33      |
| 35      |
| 36      |
| 39      |
| 40      |

* solution here

``` sql
with 
base as 
(
    select seat_id,free,row_number() over( order by seat_id) seat_rank,
           seat_id - row_number() over( order by seat_id) diff
    from Cinema
    where free = 1
 ), 
 repeat as
 (
  	select seat_id,count() over(partition by diff) no_of_repeat
	from base
)
select seat_id
from repeat
where no_of_repeat > 1
```

### 2. (interview asked question)

Given a table named `tree`, where `id` is the identifier of the tree node and `p_id` is the parent node's identifier, each node in the tree can be one of three types:

- **Root**: A node that has no parent (`p_id` is NULL).
- **Leaf**: A node that has no children.
- **Inner**: A node that is neither a root nor a leaf (it has both a parent and at least one child).

Write a query to print the node `id` and the type of the node. Sort your output by the node `id`.

Here is a visual representation of the tree structure:

```
      1
     / \
    2   3
   / \ / \
  4  5 6  7
 / \  |
8   9 10

     13
     / \
   14  15
   / \  / \
 16  17 18 19

      20
     /  \
   21    22
   |      |
  23     24
```

### Explanation

- **Root Nodes**: Nodes that have no parent (e.g., 1, 13, 20).
- **Leaf Nodes**: Nodes that have no children (e.g., 6, 7, 8, 9, 10, 11, 12, 16, 17, 18, 19, 23, 24).
- **Inner Nodes**: Nodes that have both a parent and at least one child (e.g., 2, 3, 4, 5, 14, 15, 21, 22).

### Sample Data for SSMS

```sql

CREATE TABLE tree (
    id INT PRIMARY KEY,
    p_id INT NULL
);

INSERT INTO tree (id, p_id) VALUES
(1, NULL),  -- Root node (implied)
(2, 1),     -- Inner node (implied)
(3, 1),     -- Inner node (implied)
(4, 2),     -- Leaf node (implied)
(5, 2),     -- Leaf node (implied)
(6, 3),     -- Inner node (implied)
(7, 6),     -- Leaf node (implied)
(8, 6);     -- Leaf node (implied)

```

* solution here

``` sql
with 
base as
(
  select distinct l.id,l.p_id left_p_id,r.p_id right_p_id
  from Tree l
  left join Tree r
  on l.id = r.p_id
 )
 select id , case when left_p_id is null then 'root_node'
                  when right_p_id is null then 'leaf_node'
             else 'Inner_node'
             end as node_type
 from base 
```

### 3.(interview asked question)

Mary is a teacher in a middle school and she has a table `seat` storing students' names and their corresponding seat ids. The `id` column is continuously incrementing. Mary wants to swap seats for the adjacent students. Can you write a SQL query to output the result for Mary?


```sql
-- Create the seat table and insert sample data
CREATE TABLE seat (
    id INT PRIMARY KEY,
    student VARCHAR(255)
);

INSERT INTO seat (id, student) VALUES
(1, 'Abbot'),
(2, 'Doris'),
(3, 'Emerson'),
(4, 'Green'),
(5, 'Jeames');
```

### Explanation

- The students with adjacent `id` values need to swap seats.
- If the number of students is odd, the last student's seat does not need to be changed.

### Expected Result

For the sample input provided, the expected output is:

| id | student |
|----|---------|
| 1  | Doris   |
| 2  | Abbot   |
| 3  | Green   |
| 4  | Emerson |
| 5  | Jeames  |

```sql
-- Expected result for the provided sample data
/*
+----+---------+
| id | student |
+----+---------+
| 1  | Doris   |
| 2  | Abbot   |
| 3  | Green   |
| 4  | Emerson |
| 5  | Jeames  |
+----+---------+
*/
```

``` sql
select id,case 
			when (id%2 <> 0 and lead(student) over(order by id) is not null) 
                 then lead(student) over(order by id) 
            else  lag(student) over(order by id) 
            end as swap_student
                 
from seat

```

## NUMPY, PANDAS and SKLEARN

### STOPWORDS

In machine learning, particularly in natural language processing, "stop words" are common words (e.g., "the", "and", "in") that are often removed from text data. They have little value in distinguishing content and are filtered out to improve processing efficiency and model performance. For example, in the sentence "The quick brown fox jumps over the lazy dog," removing stop words results in "quick brown fox jumps lazy dog." Libraries like NLTK in Python provide tools to easily remove stop words during text preprocessing.

* "In the last WLP session, we solved a sample BOW problem without using any libraries. Now, let's see how to tackle it using a Python library."

In [43]:
## PLease use a lot of apply and lambda function to get used to these

### Let's solve this using python libraries

In [40]:
data = {
    'text': [
        "Check out this link: https://example.com, it has some great info!",
        "Python 3.9.1 is the latest version of Python, released in December 2020.",
        "Email me at example@example.com for more details. #exciting",
        "The price is $1000, and it's worth every penny! Visit http://shop.com.",
        "Contact us at +1-800-555-5555 or visit our website."
    ]
}
df = pd.DataFrame(data)

In [41]:
#Clean the dataframe
import re
import cleantext  #Please explore library to clean the text data

def clean_text(string):
    string = re.sub(r'<.*?>',' ',string)   #remove html tags
    string = re.sub(r'[^A-Za-z]',' ',string)  # remove non words
    string = re.sub(r'http\S+|www\S+$\.com',' ',string)     # remove urls
    string = re.sub(r'\s+',' ',string)
    string = string.lower()
    return string

df['text'] = df['text'].apply(lambda x : clean_text(x))
print(df)

                                                text
0  check out this link example com it has some gr...
1  python is the latest version of python release...
2  email me at example example com for more detai...
3  the price is and it s worth every penny visit ...
4                contact us at or visit our website

In [42]:
# Remove stopwords
stop_words = set(stopwords.words('english'))
df['text'] = df['text'].apply(lambda x :' '.join([ word for word in x.split() if word not in stop_words]))
print(df)

                                             text
0               check link example com great info
1  python latest version python released december
2      email example example com details exciting
3     price worth every penny visit http shop com
4                        contact us visit website

**We have removed stopwords and cleaned the sentences. Let's create BOW from python library**

It's important to understand What is **module**, **class** and **object**.

In [45]:
from sklearn.feature_extraction.text import CountVectorizer

* This line imports the **CountVectorizer class** from the **sklearn.feature_extraction.text module.**

In [ ]:
vectorizer = CountVectorizer()

* We ahve created an insatnce of CountVectorizer class without passing any additional paarmerts. That means the object gets created with default values

In [ ]:
X = vectorizer.fit_transform(df['text'])

Certainly:

* You can split `fit_transform` into two separate operations: `fit` and `transform`.
* The `fit` method constructs a vocabulary from the provided text data.We did this step manually in wlp_2
* Subsequently, the `transform` method converts text into vectors or matrices once the vocabulary is established.

* Utilize `print(X)` to observe the transformation of text into vectors by `fit_transform()`. This method retains data in a sparse matrix format.
* Implement `print(X.toarray())` to visualize the conversion of the sparse matrix into a readable and dense format.

In [48]:
bow_df = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

df, bow_df

(                                             text
 0               check link example com great info
 1  python latest version python released december
 2      email example example com details exciting
 3     price worth every penny visit http shop com
 4                        contact us visit website,
    check  com  contact  december  details  email  every  example  exciting  \
 0      1    1        0         0        0      0      0        1         0
 1      0    0        0         1        0      0      0        0         0
 2      0    1        0         0        1      1      0        2         1
 3      0    1        0         0        0      0      1        0         0
 4      0    0        1         0        0      0      0        0         0

    great  ...  penny  price  python  released  shop  us  version  visit  \
 0      1  ...      0      0       0         0     0   0        0      0
 1      0  ...      0      0       2         1     0   0        1      0
 2      0  ...      0      0       0         0     0   0        0      0
 3      0  ...      1      1       0         0     1   0        0      1
 4      0  ...      0      0       0         0     0   1        0      1

    website  worth
 0        0      0
 1        0      0
 2        0      0
 3        0      1
 4        1      0

 [5 rows x 24 columns])